.head {
    padding: 20px;
}

.logo{
    font-style: 35px;
    font-weight: 900;
    color: #042764;
    padding-top: 20px;
}

.container{
    display: flex;
}

.pickup-btn{
background-color: lightskyblue;
color: white;
border-radius: 30px;
border:solid black 3px;
padding: 10px 20px;
cursor: pointer;
}

.pickup-btn:hover{
    color: black;
    background-color:transparent;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin:0 20px;
    padding-left: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

nav ul li a:hover{
    color: lightskyblue;
}

.nav-btn{
    padding: 10px;
    border-radius: 10px;
    background-color: #042764;
    color: white;
    cursor: pointer;
}

.nav-btn span{
    border-radius: 50%;
    padding: 1px;
    background-color: white;
    width: 50%;
    margin-left: 10px;
}
.nav-btn span i{
    color: #042764;}
    
/* Hamburger icon (hidden on desktop) */
.nav-menu-icon{
    display: none;
    font-size: 28px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 350px;
    position:absolute;
}

/* Mobile responsiveness */
@media (max-width:768px){
    .nav-menu-icon{
        display: block;
        position: absolute
        ;
    }

    .nav-links{
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        background: white;
    }

    .nav-links li{
        margin-bottom: 10px;
    }

    .nav-links  li a{
        color: black;
        margin-bottom: 20px;

    }

    .nav-links.active{
        display: flex;
    }

    .nav-btn{
        width: 200px;
        margin: 10px auto;
    }
}