.overlay{
    height: 100vh;
    display: flex;
    width: 100%;
    padding: 100px 60px;
}

.overlay h1{
    color:#ffffff;
    font-size: 5rem;
    padding-bottom: 20px;
    width: 60%;
}

.overlay h1 span{
    color: #042764;
}

.overlay p{
    font-size: 1.3rem;
    word-spacing: 2px;
    font-weight: 500;
    color: white;
    width: 40%;
}

.hero-image img{
    height: 20rem;
    width: 40rem;
    /* padding-left: 9rem; */
    /* border-radius: 5rem; */
}

button{
    margin-top: 20px;
    background-color: #042764;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    
}

.nav-btn span{
    padding: 3px;
}

.text p{

}
.btn{
    display: flex;
}

@media screen and (max-width:768px) {
    .hero{
        background-position: center;
    }

     .overlay h1{
        padding-top: 20px;
        width: 120%;
    }

    .overlay p{
        width: 60%;
    }
}