.containers{
    display: flex;
    height: 100vh;
}

.LHs{
    background-color: #c164b9;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}