@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 85%;
    margin: auto;
}

.flexSB{
    display: flex;
    justify-content: space-between;
}

.bg-wrapper{
    background-image: url(./componets/pic3.jpg);
     background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    /* padding-right: 50px; */
}

@media screen and (max-width:768px){
    .bg-wrapper{
    height: 63vh;
    }
}